.container {
    width: min(100%, 1440px);
    margin: auto;
}

header {
    
    margin-inline: 130px;
    padding: 13px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    width: 32px;
    height: 32px;
    top: 9px;
    padding: 8px 4px 8px 4px;
    gap: 0px;
    opacity: 0px;
    display: none;
}

ul {
    display: flex;
    column-gap: 32px;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.section1 {
    background: url("../photos/section1_cover.png");
    height: 550px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

h2 {
    font-size: 55px;
    font-weight: 400;
    line-height: 75px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 115px;
}

h4 {

    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}